.loading {
  width: 2rem;
  height: 2rem;
  border: 5p solid yellow;
  border-top: 6px solid yellowgreen;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}
.loading.display {
  display: block;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

body {
  background-image: url(./imgs/clouds.jpg);
  background-size: cover;
}

.WeatherNow {
  text-align: center;
  font-family: sans-serif;
}
.place, .temp.now {
  font-size: 35pt;
}
.weather {
  font-size: 35pt;
}
.feel, .hl, .today {
  font-size: 20pt;
}
.weatherIcon img {
  width: 8rem;
}
.feelIcon img {
  width: 2rem;
  position: relative;
  top: 0.3rem;
}
.feel {
  display: inline-flex;
  align-items: baseline;
  gap: 2rem;
}
.hl {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.maxTemp {
  margin-left: 2rem;
}
.today {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.searchW {
  position: absolute;
  top: 45rem;
  left:40%;
}
input {
  width: 20rem;
  height: 2rem;
  border-radius: 1rem;
  position: relative;
  padding: 22px;
  background-color: #575454;
  border: none;
}
input:focus {
  color: peachpuff;
  font-size: 16pt;
  outline: none;
}
input::placeholder {
  color: peachpuff;
  font-size: 16pt;
}
#searchBtn {
  position: relative;
  right: 3rem;
  top: 0.4rem;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  background-color: peachpuff;
  border: none;
}
#searchBtn svg {
  stroke: white;
}